
# ------------------- PORTS -------------------
# Backoffice
BACKOFFICE_FRONTEND_PORT=4300   # Angular Backoffice Frontend
BACKOFFICE_BACKEND_PORT=8081    # Flask Backoffice Backend
# Website
WEBSITE_FRONTEND_PORT=4200      # Angular Website Frontend
WEBSITE_BACKEND_PORT=8080       # Flask Website Backend

# ------------------- URLS -------------------
# MongoDB
MONGODB_PORT=27017
MONGO_URI=mongodb://mongodb:27017/

# Backoffice
BACKOFFICE_FRONTEND_URL=http://adele-backoffice-frontend:${BACKOFFICE_FRONTEND_PORT}
BACKOFFICE_BACKEND_URL=http://adele-backoffice-backend:${BACKOFFICE_BACKEND_PORT}
BACKOFFICE_BACKEND_URL_PUBLIC=https://backoffice-api.adele.inesc-id.pt
BACKOFFICE_FRONTEND_URL_PUBLIC=https://backoffice.adele.inesc-id.pt

# Website
WEBSITE_FRONTEND_URL=http://adele-website-frontend:${WEBSITE_FRONTEND_PORT}
WEBSITE_BACKEND_URL=http://adele-website-backend:${WEBSITE_BACKEND_PORT}

WEBSITE_BACKEND_URL_PUBLIC=https://website-api.adele.inesc-id.pt
WEBSITE_FRONTEND_URL_PUBLIC=https://website.adele.inesc-id.pt


# MinIO
#MINIO_ENDPOINT=localhost:${MINIO_PORT}
MINIO_ENDPOINT=s3:9000
MINIO_ACCESS_KEY=access
MINIO_SECRET_KEY=secretkey


# Funnel
#FUNNEL_URI=http://localhost:${FUNNEL_PORT}/v1/tasks
FUNNEL_URI=http://funnel:8010/v1/tasks


# SI API
#SI_API_URI=http://sda-api:5100/sda
SI_API_URI=http://sda-api:5100/sda

# REMS
#REMS_API=https://rems.tre.biodata.pt/api
REMS_API=https://rems.adele.inesc-id.pt/api

# FDP
#FDP_URI=http://localhost:8667
FDP_URI=https://fdp.adele.inesc-id.pt
FDP_TRE_CATALOG_URI=FIX_FDP_CATALOG_LINK
#FDP_TRE_CATALOG_URI=${FDP_URI}/catalog/dff42f25-35b0-4ca2-be63-d2cd117cfa2b

# OIDC / Auth
#REDIRECT_URI=http://localhost:${WEBSITE_BACKEND_PORT}/oidc-callback
REDIRECT_URI=${WEBSITE_BACKEND_URL_PUBLIC}/oidc-callback
LOGIN_URI=https://kc.portal.gdi.biodata.pt/oidc/auth/authorize
AUTHORIZATION_URI=https://kc.portal.gdi.biodata.pt/oidc/token
USER_INFO_URI=https://kc.portal.gdi.biodata.pt/oidc/userinfo

# S3 Download
#DOWNLOAD_S3=http://download:8443/
DOWNLOAD_S3=https://download.adele.inesc-id.pt

# ------------------- MAILGUN -------------------
MAILGUN_URI=https://api.mailgun.net/v3/sandbox9c29e10892be408da2611001fd406c3d.mailgun.org/messages
MAILGUN_API_KEY=f7184b31081a6f2f8cad32f97cb929b6-c5ea400f-e72c00bf

# ------------------- KEYS -------------------
SESSION_SECRET_KEY=jagskcgsjdbclzuesgfkjzsuedfdv
REMS_API_KEY=bgs6o1u81gasz6x5812bvtg
REMS_USER_ID=robot-org-owner

# ------------------- SECRETS -------------------
CLIENT_ID=metadados-tre
CLIENT_SECRET=esparguete

FDP_ADMIN_USERNAME=albert.einstein@example.com
FDP_ADMIN_PASSWORD=password


SESSION_SECRET_KEY=jagskcgsjdbclzuesgfkjzsuedfdv
REMS_API_KEY=bgs6o1u81gasz6x5812bvtg
REMS_USER_ID=robot-org-owner
MAILGUN_API_KEY=f7184b31081a6f2f8cad32f97cb929b6-c5ea400f-e72c00bf

