# Adele-Backoffice Backend .env (local development)
# These values are for running locally. When in Docker, global .env will overwrite.
# ------------------- SECRETS -------------------
SESSION_SECRET_KEY=jagskcgsjdbclzuesgfkjzsuedfdv
REMS_API_KEY=bgs6o1u81gasz6x5812bvtg
REMS_USER_ID=robot-org-owner
MAILGUN_API_KEY=f7184b31081a6f2f8cad32f97cb929b6-c5ea400f-e72c00bf
# ------------------- LOCAL URLS -------------------
MONGO_URI=mongodb://mongodb:27017/
MONGODB_PORT=27017
BACKEND_URL=http://localhost:8081
BACKEND_PORT=8081
FRONTEND_URI=http://localhost:4300
MINIO_ENDPOINT="s3:9000"
MINIO_ACCESS_KEY=output_validator
MINIO_SECRET_KEY=outputvalidatorsecret
SI_API_URI=sda-api:5100
REMS_API=https://rems.adele.inesc-id.pt/api
MAILGUN_URI=https://api.mailgun.net/v3/sandbox9c29e10892be408da2611001fd406c3d.mailgun.org/messages
FUNNEL_URI=http://funnel:8010/v1/tasks
