<div *ngIf="files && files.length > 0">
  <!--Table with files in queue to be process, have a button to validate the file type first and then ingest the files into the archive-->
  <table class="table table-striped">
    <thead>
      <tr>
        <th>File Name</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let file of files">
        <td>{{ file}}</td>
        <td>
          <!-- Ingest File button (already present in your table) -->
          <button class="btn btn-success" (click)="openFileModal(file)">Ingest File</button>
        </td>
      </tr>
    </tbody>
  </table>
</div>

<div *ngIf="openModal" class="modal fade" id="fileDetailsModal" tabindex="-1" role="dialog" aria-labelledby="fileDetailsModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">

        <h5 class="modal-title" id="fileDetailsModalLabel">File Details</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form [formGroup]="fileForm" (ngSubmit)="processFile()">
          <div class="form-group">
            <label for="filename">File Name</label>
            <input type="text" class="form-control" id="filename" formControlName="filename" required>
          </div>
          <div class="form-group">
            <label for="unique_id">Unique ID</label>
            <input type="text" class="form-control" id="unique_id" formControlName="unique_id" required>
          </div>
          <div class="form-group">
            <label for="dataset_id">Dataset ID</label>
            <input type="text" class="form-control" id="dataset_id" formControlName="dataset_id" required>
          </div>

          <div class="form-group">
            <label for="rems_item_name">REMS Item Name</label>
            <input type="text" class="form-control" id="rems_item_name" formControlName="rems_item_name" required>
          </div>

          <button type="submit" class="btn btn-primary" [disabled]="fileForm.invalid">Submit</button>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" (click)="closeFileModal()">Close</button>
      </div>
    </div>
  </div>
</div>


<div *ngIf="!files || files.length === 0">
  <p>No files in the queue.</p>
</div>